@font-face {
  font-family: 'icons';
  src:  url('/assets/fonts/icons/icons.eot?f3ft4');
  src:  url('/assets/fonts/icons/icons.eot?f3ft4#iefix') format('embedded-opentype'),
  url('/assets/fonts/icons/icons.ttf?f3ft4') format('truetype'),
  url('/assets/fonts/icons/icons.woff?f3ft4') format('woff'),
  url('/assets/fonts/icons/icons.svg?f3ft4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Light';
  src: url('/assets/fonts/open-sans/opensans-light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/open-sans/opensans-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url('/assets/fonts/open-sans/opensans-bold.ttf');
  font-weight: normal;
  font-style: normal;
}
